@model QuanLyNhanSuAPI.Models.HoSoNhanSu.DiemThanhCongCuaOkr

@{
    ViewData["Title"] = "UpdateDiemOkr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <form asp-action="UpdateDiemOkr">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6" hidden>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Diem" class="control-label"></label>
                <input asp-for="Diem" type="number" class="form-control" />
                <span asp-validation-for="Diem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Chỉnh Sửa" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
